body {
  font-family: Verdana, sans-serif ;
}


p {
  color: rgb(12, 6, 6);
}

jumbotron {
  background-color:  darkgray;

}

.img1 {
  width: 100%;
}

.img2 {
max-width: 370px;
  align-content: center;
}

.giffy {
  max-width: 370px;
  align-content: center;
}

.imggal {
height: 200px;
  align-content: center;
}

.imggiffy {
height: 100px;
}

#profile {
  background:  #E512ED;
  padding: 55px;
  color: white;
}

.bg-g {
  background-color: white;
  padding: 30px;
}

.bordi {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding: 10px;
  height:350px;
}

#case {
background-color:  #30CEB3;
  padding: 40px;
  color: white;
}

.casesub {
background-color:  #30CEB3;
  padding: 40px;
  color: white;
}

#contact {
background-color:  #0BC5F4;
  padding: 40px;
  color: white;
}

.cont2

{
  background-color: #ff4a47;
  padding: 40px;
  color: white;
}

.cont3

{
  background-color: #799ef6;
  padding: 40px;
  color: white;
}

.slogan {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.headline {

  border-left-style: solid;
  border-width: 2px;
  border-color: white;

}

.signature {
  padding-left:10px;
}

.word {
  
  animation: appear 10s linear infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

   5% {
    opacity: 0.3;
  }

    10% {
    opacity: 0;
  }


  15% {
    opacity: 0.3;
  }

  20% {
    opacity: 0;
  }

    25% {
    opacity: 0.3;
  }

  30% {
    opacity: 0;
  }

  35% {
    opacity: 0.3;
  }

 40% {
    opacity: 0;
  }

   

45% {
    opacity: 0.3;
  }

  50% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }




  95% {
    opacity: 1;
  }

   100% {
    opacity: 0;
  }
  }
